<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/view1','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half" ng-controller="SettingCtrl">
        <h1 class="topcoat-navigation-bar__title">Setting : {{setting.labelDevice}}</h1>
    </div>
</div>
<div id="settingForm">
    <form ng-submit="submit()" ng-controller="SettingCtrl">
        URL <input type="text" class="topcoat-text-input" name="title" value="" placeholder="URL" ng-model="setting.url">
        <br>
        <br>
        Password <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Password" ng-model="setting.password">
        <br>
        <br>
        Label Device <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Label Device" ng-model="setting.labelDevice">
        <br>
        <br>
        Label Switch1 <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Label Switch1" ng-model="setting.labelSwitch1">
        <br>
        <br>
        Label Switch2 <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Label Switch 2" ng-model="setting.labelSwitch2">
        <br>
        <br>
        Label Switch3 <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Label Switch 3" ng-model="setting.labelSwitch3">
        <br>
        <br>
        <input type="submit" class="topcoat-button" id="submit" value="Save" />
    </form>
</div>