<header>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter todo-padded">
            &nbsp;
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">LightControl - by phuchiss</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter todo-padded">
            <button class="todo-login topcoat-button todo-small">&#9786;</button>
        </div>
    </div>
</header>
<div id="scrollable" ng-controller="SettingCtrl">
    <div class="topcoat-list__container">
        <ul class="topcoat-list">
            <li class="todo-list-name topcoat-list__item" data-id="{{id}}" ng-click="slideDevice('/view1','modal','Setting1')">
                {{setting1.labelDevice}}
            </li>
            <li class="todo-list-name topcoat-list__item" data-id="{{id}}" ng-click="slideDevice('/view1','modal','Setting2')">
                {{setting2.labelDevice}}
            </li>
            <li class="todo-list-name topcoat-list__item" data-id="{{id}}" ng-click="slideDevice('/view1','modal','Setting3')">
                {{setting3.labelDevice}}
            </li>
            <li class="todo-list-name topcoat-list__item" data-id="{{id}}" ng-click="slideDevice('/view1','modal','Setting4')">
                {{setting4.labelDevice}}
            </li>
            <li class="todo-list-name topcoat-list__item" data-id="{{id}}" ng-click="slideDevice('/view1','modal','Setting5')">
                {{setting5.labelDevice}}
            </li>
        </ul>
    </div>
</div>