<header>
    <div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
                <span class="topcoat-icon home-icon"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Test</h1>
        </div>
    </div>
    <div class="topcoat-navigation-bar">
        <form>
            <input type="text" class="topcoat-text-input" name="title" value="" placeholder="Add a task" ng-model="taskName">
        </form>
    </div>
</header>
<div id="scrollable">
    <div class="topcoat-list__container">
        <ul class="topcoat-list">
            <li class="todo-list-name topcoat-list__item">
                {{taskName}}
            </li>
        </ul>
    </div>
</div>