<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Device Control</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slideDevice('/setting1','modal')">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div class="pad" ng-controller="LightCtrl">
    <div class="centerize">
        <p class="label-device">{{setting.labelDevice}}</p>
        <p class="label-device-status" ng-style="style(status)">{{status}}</p>
        <p><a class="topcoat-button--cta button-switch" ng-click="ch1Click()" ng-style="styleSwitch(ch1)">{{setting.labelSwitch1}} {{ch1}}</a></p>
        <p><a class="topcoat-button--cta button-switch" ng-click="ch2Click()" ng-style="styleSwitch(ch2)">{{setting.labelSwitch2}} {{ch2}}</a></p>
        <p><a class="topcoat-button--cta button-switch" ng-click="ch3Click()" ng-style="styleSwitch(ch3)">{{setting.labelSwitch3}} {{ch3}}</a></p>
        <p>Last update : {{lastSync}}</p>
    </div>
</div>

<div id="result" style="display: none">

</div>