/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    /*font-size:200%;*/
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#scrollable {
    margin-top:4rem;
}

form {
    padding:8px;
}

form input {
    width:100%;
}

.camera {
    background: transparent url(../img/camera.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position:absolute;
    right:1rem;
}

.camera.image {
    background: transparent url(../img/camera-highlight.svg);
}

.todo-list-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

img.todo-image {
    width: 100%;
}

label.todo-list-item {
    width: -webkit-calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float:left;
}

br.clear {
    height: 0;
    clear: both;
}

.topcoat-button.todo-small {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    font-size: 28px;
    letter-spacing: 0;
}

.topcoat-navigation-bar__item.todo-padded {
    padding-top:1rem;
}

.topcoat-button.todo-delete {
    position:absolute;
    right:1rem;
    line-height: 2rem;
    display:none;
}

.topcoat-button.todo-login {
    display:none;
}

.topcoat-navigation-bar__title.todo-unbold {
    font-weight: 100;
}

.home-icon {
    background: url("../img/home2.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.settings-icon {
    background: url("../img/settings_light.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.button-switch {
    width: -webkit-calc(100% - 30px);
    text-transform:uppercase;
}

.label-device {
    color: white;
    font-weight: bold;
}
.label-device-status{
    color: white;
    font-weight: bold;
}